{% extends 'base.html' %}

{% block title %}
Cart
{% endblock %}

{% block content %}

    <div class="container mt-4">

        <h1 class="mb-4">My Cart</h1>

        {% for item in cart_data %}

        <div class="card mb-3">

            <div class="card-body">

                <h5 class="card-title">
                    {{ item.product.name }}
                </h5>

                <p class="card-text">
                    Price: ₹{{ item.product.price }}
                </p>

                <p class="card-text">
                    Quantity: {{ item.quantity }}
                </p>

                <a href="/decrease_quantity/{{ item.product.id }}" class="btn btn-warning">
                    -
                </a>

                <a href="/increase_quantity/{{ item.product.id }}" class="btn btn-success">
                    +
                </a>

                <a href="/remove_from_cart/{{ item.product.id }}" class="btn btn-danger">
                    Remove
                </a>

            </div>

        </div>

        {% endfor %}
        <h3>Total: ₹{{ total }}</h3>

        <a href="/place_order" class="btn btn-success">
            Place Order
        </a>

    </div>

{% endblock %}