{% extends 'base.html' %}

{% block title %}
Edit Order
{% endblock %}

{% block content %}

<div class="container-fluid px-3 mt-4">

    <h2>Edit Order</h2>

    <div class="mb-3">
        <a href="/products?order_id={{ order_id }}" class="btn btn-primary">
            Add Products
        </a>
    </div>

    <hr>

    {% for item in order_data %}

    <p>
        Product: {{ item.product.name }}
    </p>

    <p>
        Quantity: {{ item.quantity }}
    </p>

    <a href="/decrease_order_quantity/{{ item.item_id }}" class="btn btn-danger">
        -
    </a>

    <a href="/increase_order_quantity/{{ item.item_id }}" class="btn btn-success">
        +
    </a>

    <a href="/remove_order_item/{{ item.item_id }}" class="btn btn-dark">
        Remove
    </a>

    <hr>

    {% endfor %}

    <a href="/my_orders" class="btn btn-primary">
        Save Changes
    </a>

</div>

{% endblock %}