{% extends 'base.html' %}

{% block title %}
My Orders
{% endblock %}

{% block content %}

<div class="container-fluid px-3 mt-4">

    <h2>My Orders</h2>

    {% for order in orders %}

    <p>
        <a href="/order_details/{{ order.id }}">
            Order ID: {{ order.id }}
        </a>
    </p>

    <p>
        Status: {{ order.status }}
    </p>

    {% if order.status == 'Pending' %}

    <a href="/edit_order/{{ order.id }}" class="btn btn-success">
        Edit Order
    </a>

    <a href="/customer_cancel_order/{{ order.id }}" class="btn btn-danger">
        Cancel Order
    </a>

    {% endif %}

    <hr>

    {% endfor %}

</div>

{% endblock %}