{% extends 'base.html' %}

{% block title %}
Order Details
{% endblock %}

{% block content %}

<div class="container-fluid px-3 mt-4">

    <h2>Order Details</h2>

    {% for item in order_data %}

    <p>
        Product: {{ item.product.name }}
    </p>

    <p>
        Price: ₹{{ item.product.price }}
    </p>

    <p>
        Quantity: {{ item.quantity }}
    </p>

    <p>
        Total: ₹{{ "%.2f"|format(item.item_total) }}
    </p>

    <hr>

    {% endfor %}

    <h3>Order Total: ₹{{ "%.2f"|format(total) }}</h3>

</div>

{% endblock %}